ol li{
    list-style-type: none;
}
.title{
    display: flex;
}
.title-description{
    display:flex;
}
.index-li-a:link{
    color:dimgray;
    text-decoration: none;
    
}
.index-li-a:hover{
    color:dimgray;
    text-decoration: underline;
    text-underline-position: under;
}
.row{
    display: flex;
    background-color: darkgrey;
}
.row > div{
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
}